
body
{
    background-image: url("../images/hd-wallpapers.jpg");
	background-color: black;
}

header
{
    font-family: 'Spectral SC', serif;
    text-align: center;
	background-color: black;
    color: lightgray;
    border-bottom: 10px solid #666666;
    margin-bottom: 1%;
    width: 100%;
}

h3{
    font-family: 'Spectral SC', serif;
	color: white;
    border-bottom: 2px solid #666666;
}

button
{
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-weight: 700;
    background-color: lightgray;
    margin: 4px;
}

button:hover { 
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: white;
    border: 1px solid white;
    font-weight: 700;

}

#searchBlock
{
    font-family: 'Spectral SC', serif;
	color: white;
    border: 2px solid #666666;
    padding: 3%;
}

#gifsBlock
{
    font-family: 'Itim', cursive;
    font-size: 16px;
    color: white;
}

.item
{
    float: left;
}

img{
    margin-bottom: 15px;
    margin-right: 5px;
    border: 2px solid white;
}

#ResultsDiv
{
    margin-bottom: 7%;
}

footer
{
	background-color: black;
	font-family: 'Spectral SC', serif;
	color: lightgray;
    border-top: 10px solid #666666;
    margin-top: 60px;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    text-align: center;
}